recursive-include kkblog/templates *
recursive-include kkblog/static *
include kkblog/*
prune kkblog/static/node_modules
exclude kkblog/static/res.js
exclude kkblog/static/resdocs.html
exclude kkblog/static/permission.html
include manage.py
include deploy.py
include nginx.conf
include readme.md
include requires.txt
include tox.ini
include uwsgi.ini
