recursive-include purepage/templates *
recursive-include purepage/static *
include purepage/*
prune purepage/static/node_modules
exclude purepage/static/res.js
exclude purepage/static/resdocs.html
exclude purepage/static/permission.html
include manage.py
include deploy.py
include nginx.conf
include readme.md
include requires.txt
include tox.ini
include uwsgi.ini
