// font
// --------------------------------------------------
@font-family-default: "Helvetica Neue",Helvetica,Arial,sans-serif;
@font-family-serif: Georgia, serif;
@font-size-default: 17px;
@font-weight-default: 500;
@line-height-default: 21px;
// colors
//--------------------------------------------------
@color-default: #FEFEFE;
@color-primary: #00AF64;
@color-positive: #7ccd38; 
@color-negative: #1268d6;
@color-warning: #eea236;
@color-danger:#ff4900;

// size
// ----------------------------------------
@padding-lg: 20px;
@padding-md: 15px;
@padding-sm: 10px;
@padding-xs: 8px;


// common
// --------------------------------------

.ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.placeholder(@color:darken(#fefefe, 15%)) {
    ::-webkit-input-placeholder {
        /* WebKit browsers */
        color: @color;
    }
    :-moz-placeholder {
        /* Mozilla Firefox 4 to 18 */
        color: @color;
    }
    ::-moz-placeholder {
        /* Mozilla Firefox 19+ */
        color: @color;
    }
    :-ms-input-placeholder {
        /* Internet Explorer 10+ */
        color: @color;
    }
}

.bottom-line(@color:#d3d3d3){
    border-bottom: 1px solid @color;
}
 

