<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<meta name="renderer" content="webkit">
	<meta http-equiv="Cache-Control" content="no-siteapp" />
	<title>kkblog-全栈工程师笔记</title>
	<link rel="shortcut icon" href="/static/img/favicon.ico" />
	<link rel="stylesheet" href="/static/css/amazeui.css"/>
	<link rel="stylesheet" type="text/css" href="/static/css/lxxyx.css"/>
</head>
<body>
<div id="main-container">
	<!-- 导航部分 -->
	<header data-name="home"></header>

	<!--弹出の框-->
	<div id="popUp"></div>
	<!-- 网页文章 -->
	<div class="am-container" id="MainCtrl">
		<div class="am-u-sm-12 article_title">
			<div class='main_article' v-for='ele in article_list'>
				<a href={{"/article/"+ele.gitname+"/"+ele.subdir+"/"+ele.filename.replace(".md","")}} style="font-size: 2.2rem;">{{ele.title}}</a>
				<p style='color: #999;'>
					<span class='am-badge am-badge-secondary am-text-sm' style="margin-right: 0.5rem" v-for='tag in ele.tags'>{{tag}}</span>
					<span class='am-fr'>
					<span class='am-icon-pencil'>{{"&nbsp;"+ele.author}}</span>
					<span class='am-icon-clock-o' style='padding-left: 1.3rem;'>
						{{ele.date_create | time }}
					</span>
					</span>
					<div style="clear: both;"></div>
				</p>
			</div>
			</div>
		</div>
	</div>

	<!-- 底栏，绝对定位 -->
	<footer></footer>
</div>

<!-- JS调用 -->
<script src="/static/js/jquery-2.1.0.js"></script>
<script src="/static/js/login.js"></script>
<script src="/static/js/vue.js" type="text/javascript" charset="utf-8"></script>
<script src="/static/res.js"></script>
<script type="text/javascript">
	res.api.article.get_list(null,function (error,data) {
		if (data) {
			new Vue({
				el:"#MainCtrl",
				data:{
					article_list : data,
				}
			});	
		}
	});
	Vue.filter('time', function (value) {
	    return value.replace("T00:00:00","").replace("-","年").replace("-","月")+"日";
	});
</script>
</body>
</html>