<!doctype html>
<html lang="en" ng-app="plunker">
<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<meta name="renderer" content="webkit">
	<meta http-equiv="Cache-Control" content="no-siteapp" />
	<title>kkblog-全栈工程师笔记</title>
	<link rel="shortcut icon" href="/static/img/favicon.ico" />
	<link rel="stylesheet" href="/static/css/amazeui.css"/>
	<link rel="stylesheet" type="text/css" href="/static/css/lxxyx.css"/>
</head>
<body>
<div id="main-container">
	<!-- 导航部分 -->
	<header></header>

	<!--弹出の框-->
	<div id="popUp"></div>
	<!-- 网页文章 -->
	<div class="am-container" ng-controller="MainCtrl">
		<div class="am-u-sm-12 article_title">
			<div id="user_showInfo">
				<div class="am-padding">
					<div class="am-fl am-cf">
						<strong class="am-text-primary am-text-lg">
						<span class="user_name"></span>
						的所有文章</strong> / <small>All Article</small>
					</div>
					<img src="" id="user_photo" class="am-fr" style="width: 96px;height: 96px;border-radius: 48px;" />
				</div>
			</div>
			<hr />
			<div class='main_article' ng-repeat="ele in data">
				<a href={{"/article/"+ele.gitname+"/"+ele.subdir+"/"+ele.filename.replace(".md","")}} style="font-size: 2.2rem;">{{ele.title}}</a>
				<p style='color: #999;'>
					<span class='am-badge am-badge-secondary am-text-sm' style="margin-right: 0.5rem" ng-repeat='tag in ele.tags'>{{tag}}</span>
					<span class='am-fr'>
					<span class='am-icon-pencil'>{{"&nbsp;"+ele.author}}</span>
					<span class='am-icon-clock-o' style='padding-left: 1.3rem;'>
						{{ele.date_create | date : '&nbsp;yyyy年MM月dd日'}}
					</span>
					</span>
					<div style="clear: both;"></div>
				</p>
			</div>
		</div>
	</div>

	<!-- 底栏，绝对定位 -->
	<footer></footer>
</div>

<!-- JS调用 -->
<script src="/static/js/jquery-2.1.0.js"></script>
<script src="/static/js/amazeui.js"></script>
<script src="/static/js/login.js"></script>
<script src="/static/js/angular.js"></script>
<script src="/static/js/pc_article.js"></script>
<script src="/static/res.js"></script>
<script src="/static/js/pc.js"></script>
</body>
</html>