/*@media(max-width:768px){
	@font-size-h1:         floor((@font-size-base * 1.5));  // ~24px;
	@font-size-h2:         floor((@font-size-base * 1.36)); // ~22px;
	@font-size-h3:         ceil((@font-size-base * 1.22));  // ~20px;
	@font-size-h4:         ceil((@font-size-base * 1.08));  // ~18px;
	@font-size-h5:         ceil((@font-size-base * 0.94));  // ~16px;
	@font-size-h6:         ceil((@font-size-base * 0.8));   // ~13px;
}*/
.bottom-line {
  border-bottom: 1px solid #d3d3d3;
}
html,
body {
  margin: 0;
  height: 100%;
}
.wrap {
  min-height: 100%;
  min-width: 320px;
  position: relative;
}
.foot {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 60px;
}
.center {
  padding-bottom: 60px;
}
.center:before,
.center:after {
  content: " ";
  display: table;
}
.center:after {
  clear: both;
}
.content {
  padding: 8px 8px 30px 8px;
}
@media (min-width: 768.4px) {
  .content {
    padding: 10px 10px 30px 10px;
    margin-right: 320px;
  }
}
@media (min-width: 992px) {
  .content {
    padding: 15px 15px 30px 30px;
  }
}
@media (min-width: 1200px) {
  .content {
    padding: 20px 20px 30px 40px;
  }
}
.side {
  position: fixed;
  top: 68px;
  bottom: 60px;
  right: 0;
  width: 320px;
  z-index: 200;
}
@media (max-width: 768px) {
  .side {
    display: none;
    background-color: #fff;
    border: 1px solid #666;
    width: 90%;
    max-width: 450px;
    min-width: 300px;
  }
}
.side-toggle {
  position: fixed;
  right: 20px;
  bottom: 20px;
  min-width: 42px;
  z-index: 201;
  text-align: center;
  cursor: pointer;
  color: #fff;
  font-weight: 500;
  padding: 4px;
  border-radius: 4px;
  background: rgba(0, 0, 0, 0.3);
  display: none;
}
.side-nohead {
  top: 8px;
}
.side-nofoot {
  bottom: 8px;
}
.head {
  border-width: 0;
  background: #00af64;
  color: #fff;
  font-size: 16px;
}
.head {
  padding-left: 15px;
  padding-right: 27px;
  /* IE滚动条占据一定的宽度 */
  position: relative;
}
@media (max-width: 768px) {
  .head {
    padding-left: 8px;
    padding-right: 20px;
  }
}
.head:before,
.head:after {
  content: " ";
  display: table;
}
.head:after {
  clear: both;
}
.head .head-title,
.head .head-bar {
  margin-top: 20px;
  margin-bottom: 10px;
}
@media (max-width: 768px) {
  .head .head-title,
  .head .head-bar {
    margin-top: 12px;
    margin-bottom: 6px;
  }
}
.head .head-title {
  float: left;
  padding-top: 2px;
  padding-bottom: 1px;
}
@media (max-width: 768px) {
  .head .head-title {
    padding-top: 4px;
    padding-bottom: 4px;
  }
}
.head .head-title .head-title-subtitle {
  font-size: 90%;
}
.head .head-title span {
  margin-right: 8px;
}
.head .head-bar {
  float: right;
}
.head-nav,
.head-search {
  float: left;
}
.head-nav-toggle,
.head-nav li a {
  display: block;
  line-height: 24px;
  padding: 3px 15px;
  margin: 2px 0;
  color: #fff;
}
@media (max-width: 768px) {
  .head-nav-toggle,
  .head-nav li a {
    padding: 3px 8px;
    margin-right: 4px;
  }
}
.head-nav-toggle {
  float: left;
  cursor: pointer;
}
@media (min-width: 768px) {
  .head-nav-toggle {
    display: none;
  }
}
.head-nav {
  list-style: none;
}
@media (max-width: 768px) {
  .head-nav {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    top: 54px;
    z-index: 200;
    padding: 5px 15px;
    background: #00af64;
  }
  .head-nav li {
    position: relative;
  }
}
@media (min-width: 768px) {
  .head-nav {
    padding-left: 0;
    margin-bottom: 0;
  }
  .head-nav:before,
  .head-nav:after {
    content: " ";
    display: table;
  }
  .head-nav:after {
    clear: both;
  }
  .head-nav li {
    position: relative;
    float: left;
  }
}
.head-nav li a:hover {
  background-color: #007c47;
  text-decoration: none;
}
.head-search ::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #d5d5d5;
}
.head-search :-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #d5d5d5;
}
.head-search ::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #d5d5d5;
}
.head-search :-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #d5d5d5;
}
.head-search:before,
.head-search:after {
  content: " ";
  display: table;
}
.head-search:after {
  clear: both;
}
.head-search .search-box,
.head-search .search-btn {
  float: left;
  height: 30px;
  line-height: 30px;
  margin-top: 2px;
  margin-bottom: 2px;
  margin-left: 4px;
  padding-left: .33em;
  padding-right: .33em;
  border-radius: 2px;
  color: #fff;
  border: none;
  background: transparent;
  background: #009655;
}
.head-search .search-box:focus,
.head-search .search-btn:focus {
  outline: none;
}
.head-search .search-box {
  width: 180px;
  max-width: 180px;
  min-width: 60px;
}
@media (max-width: 768px) {
  .head-search .search-box {
    width: 60px;
  }
}
.head-search .search-btn {
  padding-left: 10px;
  padding-right: 10px;
}
.head-search .search-btn:hover {
  background: #007c47;
}
.head-search .search-btn:active {
  background: #006338;
}
.foot p {
  line-height: 2.7;
  letter-spacing: 1px;
}
.foot a {
  text-decoration: none;
}
.foot span {
  font-family: Georgia, serif;
  padding-left: 8px;
  padding-right: 8px;
}
.article {
  position: relative;
}
.article-title {
  color: #4282d3;
}
.article-info {
  margin-top: 12px;
  text-align: right;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.article-info .article-info-item {
  display: inline-block;
  max-width: 45%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-left: 0.5em;
  margin-right: 0.5em;
}
.article-info a {
  color: #4282d3;
  margin-left: 0.25em;
  margin-right: 0.25em;
}
.article-content {
  margin-top: 12px;
}
.article-foot {
  color: #eea236;
  margin-top: 24px;
  margin-bottom: 12px;
}
.markdown-body h1:nth-child(1) {
  color: #4282d3;
}
.comment h3 {
  border-bottom: 1px solid #d3d3d3;
  color: #4282d3;
}
.comment .comment-count {
  font-family: Georgia, "Times New Roman", Times, serif;
}
.comment-list {
  list-style: none;
  padding-left: 15px;
}
@media (max-width: 768px) {
  .comment-list {
    padding-left: 8px;
  }
}
.comment-list .comment-item {
  position: relative;
  display: block;
  border-bottom: 1px solid #d3d3d3;
}
.comment-list .comment-item:before,
.comment-list .comment-item:after {
  content: " ";
  display: table;
}
.comment-list .comment-item:after {
  clear: both;
}
.comment-list .comment-item .comment-title {
  font-family: Georgia, "Times New Roman", Times, serif;
}
.comment-list .comment-item .comment-title span {
  padding-left: 8px;
  padding-right: 8px;
}
.comment-list .comment-item .comment-content {
  padding-left: 15px;
}
@media (max-width: 768px) {
  .comment-list .comment-item .comment-content {
    padding-left: 8px;
  }
}
.comment-list .comment-item .comment-info {
  text-align: right;
  padding-right: 15px;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.comment-add .input-row {
  margin: 15px 0;
  padding-left: 2%;
}
.comment-add .input-row textarea,
.comment-add .input-row input,
.comment-add .input-row button {
  display: block;
  outline: none;
  border-width: 1px;
  border-style: solid;
  border-color: #a9a9a9;
}
.comment-add .input-row textarea:focus,
.comment-add .input-row input:focus,
.comment-add .input-row button:focus {
  border-color: #7ccd38;
}
.comment-add .input-row textarea,
.comment-add .input-row input {
  padding-left: 0.4em;
  padding-right: 0.4em;
  width: 90%;
}
@media (max-width: 768px) {
  .comment-add .input-row textarea,
  .comment-add .input-row input {
    width: 96%;
  }
}
.comment-add .input-row input {
  line-height: 1.2;
  padding-top: 0.4em;
  padding-bottom: 0.4em;
}
.comment-add .input-row button {
  padding: 4px 30px;
}
.comment-add .input-row label {
  display: inline-block;
  padding-top: 5px;
  padding-bottom: 5px;
}
.comment-add .input-row .comment-submit {
  margin-top: 24px;
  color: #fff;
  letter-spacing: 4px;
  border-color: #7ccd38;
  background: #7ccd38;
}
.comment-add .input-row .comment-submit:hover {
  background: #70bc2f;
}
.comment-add .input-row .comment-submit:active {
  background: #64a82a;
}
.side {
  overflow-y: scroll;
  overflow-x: hidden;
}
.side::-webkit-scrollbar {
  background: transparent;
}
.side .side-container {
  padding: 10px 4px;
}
.side-outline {
  padding-top: 15px;
}
.side-outline ul {
  padding-left: 25px;
}
.side-list h3 {
  padding-left: 15px;
}
.side-list .archive ul {
  list-style-type: square;
}
.side-list .archive ul li {
  padding: 4px 0px;
}
.side-list .friend ul {
  list-style-type: none;
  padding-left: 20px;
}
.side-list .friend ul li {
  padding: 4px 8px;
}
.side-list .friend ul li img {
  width: 24px;
  height: 24px;
  margin-right: 4px;
}
.side-list .tag ul {
  list-style-type: none;
  padding-left: 20px;
}
.side-list .tag ul:before,
.side-list .tag ul:after {
  content: " ";
  display: table;
}
.side-list .tag ul:after {
  clear: both;
}
.side-list .tag ul li {
  float: left;
  padding: 4px 8px;
}
.side-list .tag ul li a span {
  position: relative;
  top: -6px;
  left: 2px;
  font-size: 14px;
}
.article-list ul {
  list-style: none;
  padding-left: 0;
}
.article-list ul li {
  border-bottom: 1px solid #d3d3d3;
}
.article-list ul li:before,
.article-list ul li:after {
  content: " ";
  display: table;
}
.article-list ul li:after {
  clear: both;
}
.article-list ul li .item-title a {
  color: #4282d3;
}
.article-list ul li .item-subtitle,
.article-list ul li .read {
  padding-left: 8px;
}
.article-list ul li .read {
  float: left;
}
