body {
	background: url(/static/img/body.gif) repeat;
}
.article_title {
	background: white;
	height: auto;
	min-height: 30rem;
	margin-top: 1.5rem;
	border-radius: 0.7rem;
	/*visibility: hidden;*/
	margin-bottom: 1.5rem;
	padding-bottom: 2.5rem;
}
.main_article {
	margin-top:2rem;
	margin-left: 3rem;
}
.login{
	position: fixed;
	margin: auto;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	border-radius: 0.7rem;
	visibility: hidden;
	z-index: 999;
	background: -webkit-linear-gradient(top,#eaeaeb,#b8c4cb);
	background: linear-gradient(top,#eaeaeb,#b8c4cb);
	background: -moz-linear-gradient(top,#eaeaeb,#b8c4cb);
	background: -ms-linear-gradient(top,#eaeaeb,#b8c4cb);
	/*box-shadow: 0 0 37px;*/
}
.login h1 {
	margin-top: 2.5rem;
}

.login div {
	margin: 1.3rem auto;
}

.login p button {
	margin: 0.3rem auto;
}
#mask {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 998;
	background: black;
	opacity: 0.5;
	visibility: hidden;
}


.register {
	position: fixed;
	margin: auto;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	border-radius: 0.7rem;
	z-index: 999;
	background: -webkit-linear-gradient(top,#eaeaeb,#b8c4cb);
	background: linear-gradient(top,#eaeaeb,#b8c4cb);
	background: -moz-linear-gradient(top,#eaeaeb,#b8c4cb);
	background: -ms-linear-gradient(top,#eaeaeb,#b8c4cb);
	visibility: hidden;
	/*box-shadow: 0 0 37px;*/
}

.register h1 {
	margin-top: 2.5rem;
}

.register p button {
	margin: 0.3rem auto;
}

.register div {
	margin: 1.3rem auto;
}

.forgetPassword {
	position: fixed;
	margin: auto;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	border-radius: 0.7rem;
	z-index: 999;
	background: -webkit-linear-gradient(top,#eaeaeb,#b8c4cb);
	background: linear-gradient(top,#eaeaeb,#b8c4cb);
	background: -moz-linear-gradient(top,#eaeaeb,#b8c4cb);
	background: -ms-linear-gradient(top,#eaeaeb,#b8c4cb);
	visibility: hidden;
	/*box-shadow: 0 0 37px;*/
}
.forgetPassword h1 {
	margin-top: 2.5rem;
}

.forgetPassword div {
	margin: 1.3rem auto;
}

.forgetPassword p button {
	margin: 0.3rem auto;
}

#main-container {
	min-height: 100%;
	height: auto!important;
	height: 100%;
	position: relative;
}