.message {
  height: 2em;
  line-height: 2em;
  text-align: center;
  color: $color-orange;
}

.submit {
  width: 300px;
}

.container {
  max-width: 920px;
  margin-left: 16px;
  margin-right: 16px;
  padding-left: 12px;
  padding-right: 12px;
  margin: 0 auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
