<div class="head row">
    <h1 class="head-title"><span>KkBloG</span><span class="hidden-sm hidden-xs head-title-subtitle">全栈工程师笔记</span></h1>
    <div id="head-bar" class="head-bar">
        <ul class="head-nav">
            <li><a href="/">首页</a></li>
            <li><a href="#">归档</a></li>
            <li><a href="#">收藏夹</a></li>
            <li><a href="#">工具箱</a></li>
            <li><a href="#">关于我</a></li>
        </ul>
        <span class="head-nav-toggle" aria-label="导航">
                    <span class="glyphicon glyphicon-menu-hamburger"></span>
        </span>
        <div class="head-search">
            <input class="search-box" type="text" placeholder="文章/收藏/标签">
            <button id="search-btn" class="search-btn" aria-label="Left Align"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
        </div>
    </div>
</div>
