{
    "presets": ["es2015"],
    "plugins": [
        "transform-runtime", [
            "component", [{
                "libraryName": "element-ui",
                "styleLibraryName": "theme-default"
            }]
        ]
    ]
}
